@import '../../../../node_modules/bootstrap/scss/mixins/_grid.scss';
@import '../../../../sass/button.scss';

.scenes {
  &-all-players {
    .scenes-player {
      @include make-row;
      justify-content: center;
      .active {
        font-family: "Oswald";
        box-sizing: border-box;
        margin-top: 1em;
        margin-left: 1em;
        text-align: center;
        box-sizing: border-box;
        padding-top: 0.5em;
        @include button( 23.4%, 2em, inherit );
        &:first-child {
          margin-left: 0;
        }
      }
      .disable {
        font-family: "Oswald";
        box-sizing: border-box;
        margin-top: 1em;
        margin-left: 1em;
        text-align: center;
        box-sizing: border-box;
        padding-top: 0.5em;
        background-color: #69889e;
        width: 23.4%;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}